---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
'Useful knowledge,(U.K.)'는 놀랍거나 궁금했던 사실을 알아갈수 있는 사이트 입니다. 

퀴즈를 풀고 놀라운 사실들을 배우고 상식을 키우세요.
관심있는 분야를 선택해 더 유익한 사실을 배우세요.
`;
---

<Layout title="Welcome to Useful knowledge.">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">퀴즈를 풀고 놀랍거나 몰랐던 사실들을 알아봐요.</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">퀴즈풀기</a>
    </p>
</Layout>
